services:
    github.client:
        class: Github\Client
        calls:
            - ['authenticate', [%github.token%, null, 'http_token']]

    github.console_logger:
        class: Akeneo\Git\ConsoleLogger
        arguments:
            - '@system.translator'

    github.cloner:
        class: Akeneo\Git\ProjectCloner
        arguments:
            - '@github.client'
            - '@system.executor'
            - '@event_dispatcher'
            - %github.fork_owner%
            - %github.owner%
            - %github.repository%

    github.pull_request_creator:
        class: Akeneo\Git\PullRequestCreator
        arguments:
            - '@system.executor'
            - '@github.client'
            - '@event_dispatcher'
            - %github.fork_owner%
            - %github.owner%
            - %github.repository%
